fastapi
uvicorn[standard]

langchain
langchain-community
langchain-core
langchain_chroma

langchain-ollama

chromadb

pypdf

python-multipart

pydantic

tiktoken

#sentence-transformers

python-dotenv

requests